@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,300..700;1,300..700&family=Space+Grotesk:wght@300..700&display=swap");

@plugin "@tailwindcss/typography";

@variant dark (&:where(.dark, .dark *));

@theme {
  --font-sans: "Archivo", sans-serif;
  --font-display: "Space Grotesk", sans-serif;
}

@layer base {
  body {
    @apply font-sans antialiased bg-zinc-100 text-zinc-900 dark:bg-zinc-950 dark:text-zinc-50;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-display;
  }
}
